#home-page {
	font-family: 'Poiret One', 'Helvetica Neue', sans-serif;
	letter-spacing: 0.2rem;
	font-weight: bold;

	.section {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	p.white--text {
		margin-bottom: 0;

		i {
			vertical-align: middle;
		}
	}

	@media (max-width: 401px) {
		p {
			font-size: 12px !important;
		}
	}

	@media (max-width: 339px) {
		p {
			font-size: 10px !important;
		}
	}
}

.light-yellow--text {
	color: rgb(232, 205, 143);
}
